*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    

}

.container{
    width: 380px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    
}

.leftslide{
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1{
    width: 380px;
    height: 500px;
    border: 5px solid black;
    position: absolute;
    background-color: white;
    transform-origin: left;
    transition: 1s;

}

.page2{
    width: 380px;
    height: 500px;
    border: 5px solid black;
    position: absolute;
    background-color: white;
    transform-origin: right;
    transition: 2.5s;

}
.page3{
    width: 380px;
    height: 500px;
    border: 5px solid black;
    position: absolute;
    background-color: white;
}

.page1, .page2, .page3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1{
    z-index: 3;

}
#box2{
    z-index: 2;
}
#box3{
    z-index: 1;
}

.container:hover .page1{
    transform: rotateY(-180deg);
}
.container:hover .page2{
    transform: rotateY(180deg);
}